/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	max-width: 1000px;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 0px;
	margin-bottom: 250px;
}

a {
	text-decoration: none;
	
}

.navigation {
	
	box-sizing: 100%;
	margin: 1%;
	padding-bottom: 10%;
	
}

.navigation .nav {
	box-sizing: 80%;
	float: left;
	vertical-align: ;
}
.navigation a {
	padding-right: 50px;
	
	color: grey;
	font-weight: bold;
	
}
.logo {
	box-sizing: 20%;
	float: right;
}

.heading {
	box-sizing: 45%;
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 80px;
	display: inline-block;	
}

.innovate {
	font-weight: bold;
	vertical-align: top;
	box-sizing: 60px;
	font-size: 75px;
	letter-spacing: 2px;
	font-family: 'Bangers', cursive;
	text-align: center;
}
.button1 {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	shadow: 1px, 1px, 4px, black;
	font-size: 15px;
	font-weight: none;
	width: 200px;
	height: 40px;
	padding-top: 10px;
	font-family: 'Titillium Web', sans-serif;

}
hr {
	width: 100%;
}

.header-img {
	
}
h2 {
	text-align: center;
}
.over {
	width: 900px;
	text-align: left;
	display: inline-block;

	overflow: hidden;

	
}
.over1 {
	
	float: left;
	;
	
}
.over2 {
	
	
	
	overflow: hidden;
	
	float: right;

}
.middle-img {
	padding-top: 50px;
	padding-bottom: 50px;
	align: center;
}

.under {

	text-align: left;
}
.under1{
float: left;
}

.under2 {
float: center;
}
.under3 {
	float:right;
}

.address {
	Margin-top: 30px;
}

.address h2 {
	text-align: left;
	text-weight: bold;
}

.address a{
	
	text-decoration: none;
	color: black;

}

footer {
	text-align: center;
	font-weight: bold;
}
