/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	max-width: 900px;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 0px;
	margin-bottom: 250px;
}

a {
	text-decoration: none;
	
}



@keyframes pulse {
  0% {
    background-image: linear-gradient(to right,lightblue, blue, blue, blue, blue  )
  }
  20% {
    background-image: linear-gradient(to right, blue , lightblue, blue, blue, blue)
  }
  50%{
    background-image: linear-gradient(to right, blue , blue, lightblue, blue,  blue)
  }
  70%{
    background-image: linear-gradient(to right, blue , blue, blue, lightblue,  blue)
  }
    100% {
    background-image: linear-gradient(to right, blue, blue, blue, blue,  lightblue)
}
}
.sticky {

top:0;
width: 100%;
}

.navigation {
    position: fixed;
	box-sizing: 100%;
	margin: 1%;
	background-image: linear-gradient(to right, blue , lightblue);
    height: 40px;
    top: 0;
    z-index: 0;
    width: 50%;
}

.navigation a {
    display: inline-block;
	width: 16%;
	line-height: 30px;
	color: silver;
	font-weight: bold;
    min-height: 40px;
    background-image: url(../img/logo.png);
    background-size: 99%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.navigation a:hover {
    animation: pulse 0.3s infinite;
}

.logo {
    z-index: 2;
  
    top: 0;
	box-sizing: 20%;
	float: right;
}

.heading {
  	display: inline-block;
	margin: 1%;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 20px;
	
}
.heading2 {
    background-image: url(../img/css.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
	display: inline-block;
	margin: 1%;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 20px;
	
}

.left {
	display: inline-block;
	padding: 1%;
	margin: 1%;
	width: 55%;
	height: 100%;
	background-image: url(../img/header-img.png);
    background-repeat: no-repeat;
    background-size: 60%;
    z-index:-1;
}
.innovate {
    color:  lightblue;
	text-align: center;
	vertical-align: top;
	font-size: 70px;
	letter-spacing: 1px;
	font-family: 'Bowlby One SC', cursive;
	display: inline-block;
	margin: 1%;
	padding: 5%;
    min-height: 20%;
	width: 100%;
	z-index: 1;
}
.services {
    color: lightblue;
	text-align: center;
	vertical-align: top;
	font-size: 70px;
	letter-spacing: 1px;
	font-family: 'Bowlby One SC', cursive;
	display: inline-block;
	margin: 1%;
	padding: 5%;
    min-height: 20%;
	width: 100%;
	z-index: 1;
}
.button1 {
	font-family: 'Titillium Web', sans-serif;
	display: inline-block;
	border: 1px solid black;
	font-size: 15px;
	font-weight: none;
	margin-left: 29%;
	width: 44%;
	height: 30px;
	padding-top: 10px;
	text-align: center;
    line-height: 10px;
    z-index: 1;
    background-color: white;
}
.button1:hover {
    color: lightblue;
    animation: pulse .5s infinite;
    
}
.header-img {
	vertical-align: top;	
	min-height: 200px;
	float: right;
    margin: 1%;
	width: 38%;
}

hr {
	margin: 2%;
	width: 97%;
}
h2 {
	font-style: italic;
	letter-spacing: 1px;
}


.over {
	margin: 1%;
    width: 100%;
    
    
}
.over1 {
    color:lightblue;
	background-image: url(../img/mid-page-accent.jpg);
    
    background-size: 100%;
    vertical-align: top;
    margin: 1%;
    min-height: 18%;
	width: 48%;
	float:left;
}

.over2 {
    color:lightblue;
	background-image: url(../img/mid-page-accent.jpg);
    
    background-size: 100%;
	
    vertical-align: top;
    margin: 1%;
    min-height: 18%;
	width: 48%;
	float: right;
}

.middle-img {
	
	margin: 1%;
	width: 100%;
	padding: 1%;
}

.under {
	
	margin: 1%;
    width: 100%;
}
.under1{
	color:lightblue;
	background-image: url(../img/mid-page-accent.jpg);
    
    background-size: 100%;
	display: inline-block;
    vertical-align: top;
    margin: 1%;
    min-height: 20%;
    width: 30%;
}

.under2 {
	color:lightblue;
	background-image: url(../img/mid-page-accent.jpg);
    
    background-size: 100%;
	display: inline-block;
    vertical-align: top;
    margin: 1%;
    min-height: 20%;
    width: 30%;
}
.under3 {
    color:lightblue;
	background-image: url(../img/mid-page-accent.jpg);
    
    background-size: 100%;
	display: inline-block;
    vertical-align: top;
    margin: 1%;
    min-height: 20%;
    width: 30%;
}

.address {
	margin: 2%;
	Margin-top: 30px;
	
}

.address h2 {
	text-align: left;
	font-weight: bold;
}

.address a{
	
	text-decoration: none;
	color: black;

}

footer {
	padding: 5%;
	text-align: center;
}
